*{
    box-sizing: border-box;
}
body{
    background:#d4dbb6;
    margin: 0;
    font-family: monospace;
    display: grid;
    min-height: 100vh;
}

header{
    display: flex;
   justify-content: space-between;
   width: 100%;
   height: 100%;
   background-color: rgba(93, 193, 233, 0.863);
}
h1{
   
    color: rgb(219, 96, 65);
    text-align: center;
   font-size: 5vh;
}
.titulo{
    
    width: 30%;
    height: 50%;
    margin-top: 4%;
}

.boton{
   
   text-align: right;
    margin-top: 8%;
    margin-right: 5%; 
    height: 25%;  
    
}

.ingresar{
    text-decoration: none;
    color:rgb(219, 96, 65);
    font-size: 130%;
}

.logo{
    
    width: 60%;
    margin-top: 2%;
    margin-left: 8%;
}
 

footer{
    background-color: rgba(93, 193, 233, 0.863);
    font-size: 25px;
    display: flex;   
    padding: 1rem;
    gap: 2rem;

}

h2{
    
    color: white;
    width: 100%;
    margin-left: 2%;
}

.redes{   
   display: inline-block;  
   text-align: center; 
   width: 50%;
   height: 40%;
   line-height: 45px;
   margin-top: 3%;
   gap: 1rem;
   
   
   
}

.fb{
    background: rgb(8, 81, 255);
    padding: 8px;
    border-radius: 50px;
    color: white;
}
 
.it{
    background: rgb(225, 48, 108);
    padding: 8px;
    border-radius: 50px;
    color: white;
}

.tw{
    background: rgb(0, 172, 238);
    padding: 8px;
    border-radius: 50px;
    color: white;
}

.go{
    background: rgb(219, 74, 57);
    padding: 8px;
    border-radius: 50px;
    color: white;
}

.wh{
    background: rgb(37, 211, 102);
    padding: 8px;
    border-radius: 50px;
    color: white;
}

.li{
    background: rgb(14, 118, 168);
    padding: 8px;
    border-radius: 50px;
    color: white;
}



/* estilos de la galeria */
.galery-container{
    display: grid;
   
}
.galery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 150px;
    padding: 20px;
    gap: 1rem;

}

.galery__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid #e7e7e7;
   
}

.galery__img:hover{
    cursor: pointer;
    border: 1px solid #fff;   
    /* transform: scale(1.05);    */
    filter:grayscale(0.3)
    
}

.galery__item:nth-child(1){
    box-shadow: 5px 5px rgb(58, 56, 56);

}

.galery__item:nth-child(2){
    box-shadow: 5px 5px rgb(43, 36, 36);

}

.galery__item:nth-child(3){
    box-shadow: 5px 5px rgb(43, 36, 36);

}

.galery__item:nth-child(4) {
    grid-column-start: span 2;
    grid-row-start: span 2;
    box-shadow: 5px 5px black;
}

.galery__item:nth-child(5) {
    grid-row-start: span 3;
    box-shadow: 5px 5px rgb(51, 47, 47);
    
}

.galery__item:nth-child(6){
    box-shadow: 5px 5px rgb(24, 23, 23);

}

.galery__item:nth-child(7){
    box-shadow: 5px 5px rgb(36, 31, 31);

}

.galery__item:nth-child(8) {
    grid-column-start: span 2;
    grid-row-start: span 2;
    box-shadow: 5px 5px black;
}

.galery__item:nth-child(9) {
    grid-row-start: span 2;
    box-shadow: 5px 5px rgb(104, 101, 101);
}

.galery__item:nth-child(10){
    box-shadow: 5px 5px rgb(43, 36, 36);

}

.galery__item:nth-child(11){
    box-shadow: 5px 5px rgb(43, 36, 36);

}

.galery__item:nth-child(12){
    box-shadow: 5px 5px rgb(43, 36, 36);

}

@media screen and (max-width: 500px) {

header{
    background-color: rgb(18, 183, 224);
    display: grid;        
    width: 100%;
    height: 100%;
    
}

.imagen{
    width: 100%;
    height: 100%;
    text-align: center;
    margin-left: 7%;
  

}

.logo{
    width: 70%;
    
}

.titulo{
    width: 100%;    
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 8%;
    
}

h1{   
    font-size: 1.5rem;
    margin-top: 2%;
    margin-left: 6%;

}

.boton{
    display: flex;
    justify-content: center;
    font-size: 1rem;
    color: black;
    width: 100%;
    height: 40%;
    margin-bottom: 4%;
    /* margin-left: 40%; */
    
}

.ingresar{
    color: black;   
    margin-left: 15%;
}

.galery{
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    height: 100%;
    gap:1rem,
}

.galery__item:nth-child(4) {
    grid-column-start: span 1;
    grid-row-start: span 1;
     
}
    
.galery__item:nth-child(5) {
    grid-row-start: span 1;
}

.galery__item:nth-child(8) {
    grid-column-start: span 1;
    grid-row-start: span 1;
}

.galery__item:nth-child(9) {
    grid-row-start: span 1;
}

footer{
    display: inline-block;
    width: 100%;
    height: 100%;
}

h2{
    font-size: 80%;
    display: inline-block;
    text-align: center;
}


.redes{
    width: 10%;
    height: 15%;    
    display: flex;
    min-height: 40px;
    text-align: center;
    line-height: 40px; 
    margin-left: 40px;
    
}

.fb{
    padding: 3px;
   
}

.it{
    padding: 3px;
    
   
}

.tw{
    padding: 3px;
}

.go{
    padding: 3px;
  
}

.wh{
    padding: 3px;
   
}

.li{
    padding: 3px;
    
}


    
        
    
}
